@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

:root {
    --navigation-bar-height: 100px;
}

* {
    padding: 0;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
}

.navbar p {
    line-height: var(--navigation-bar-height);
    height: 100%;
    width: 150px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #111111;
}

.navbar input {
    height: 45%;
    border-radius: 50px;
    width: 300px;
    margin: auto 0;
    margin-left: 250px;
}

.navbar .home-button {
    display: flex;
    width: 300px;
    height: 100%;
    background-color: #EEEEEE;
}

.navbar .home-button img {
    width: 50%;
    margin: auto auto;
}

/* Hero */
